.intro-jumbotron{
	background-image: url('image/jens-kreuter-159303-unsplash.jpg');
	background-size: cover;
	background-position: center center;
	height: 500px;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro-jumbotron h1{
	background: rgba(0,0,0, 0.8);
	text-align: center;
	width: 100%;
	padding: 50px;
	color: white;
}

.ar-vr-introduction, .demo-videos{
	text-align: center;
	background-color: #fff;
	padding: 50px;
	padding-bottom: 100px;
}

.ar-vr-heading {
	padding-bottom: 100px;
}

.ar{
	padding-bottom: 100px;
}

.ar-img, .vr-img{
	height: 350px;
}

.ar-right{
	text-align: left;
}

.vr-left{
	text-align: right;
}

.ar-right h1, .vr-left h1, .demo-videos h1{
	padding-bottom: 30px;
	color: #41a5f2;

}

.demo-videos-jumbotron{
	background-image: url('image/giu-vicente-727228-unsplash.jpg');
	background-size: cover;
	background-position: center center;
	height: 500px;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
