.jumbotron{
	background-image: url('image/samuel-zeller-4138-unsplash.jpg');
	background-size: cover;
	background-position: center center;
	height: 500px;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.jumbotron h1{
	background: rgba(0,0,0, 0.8);
	text-align: center;
	width: 100%;
	padding: 50px;
	color: white;
}

.roles, .applicant-details, .contact-details{
	text-align: center;
	background-color: #fff;
	padding: 50px;
	padding-bottom: 50px;
}

.roles h1{
	padding-bottom: 30px;
	color: #41a5f2;
}

.careers-roles{
	margin: 0 auto;
}

.role-name{
	color: #41a5f2;
	padding-bottom: 30px;
}

.last-updated{
	color: red !important;
}

.role-details h3{
	padding: 20px;
}

.applicant-details-form, .role-details, .contact-details-form{
	margin: 0 auto;
}

.applicant-details-form button, .contact-details-form button{
	margin: 10px;
}

.applicant-details-form h3{
	padding: 10px;
}

.jd-list li{
	text-align: left !important;
}

.contact-details-form h3{
	color: #41a5f2;
	padding: 10px;
}